@use "breakpoints" as bp;

body {
  font-family: "Noto Sans JP", sans-serif;
}

.hidden-pc {
  display: none;
}
.header {
  padding-block: 10px;
  padding-inline: 4%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  img {
  }
}

.header__nav {
}

.header__nav--list {
  display: flex;
  gap: 30px;
}

.header__nav--link {
  color: #24292e;
  font-size: 14.4px;
  font-weight: 300;
  line-height: calc(22px / 14.4px);
}

.fv {
}

.fv__image {
  img {
    max-width: 1920px;
    width: 100%;
    object-fit: cover;
    height: 600px;
  }
}

.about {
  padding-top: 80px;
  text-align: center;
}

.inner {
  padding-inline: 4%;
  margin-inline: auto;
  max-width: 960px;
}

.heading {
  display: inline-block;
  color: #383e45;
  font-size: 32px;
  font-weight: 600;
  line-height: calc(48px / 32px);
  border-bottom: 1px solid #383e45;
}

.about__content {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include bp.mq(sm) {
    flex-direction: row;
    gap: 30px;
  }
}

.about__image {
  img {
    border-radius: 50%;
  }
}

.about__text--box {
  margin-top: 10px;
  text-align: left;

  @include bp.mq(md) {
    margin-top: 0;
  }
}

.about__name {
  color: #383e45;
  font-size: 16px;
  font-weight: 600;
  line-height: calc(24px / 16px);
}

.about__text {
  margin-top: 10px;
  color: #383e45;
  font-size: 14.4px;
  font-weight: 300;
  line-height: calc(22px / 14.4px);
}

.bicycle {
  text-align: center;
  padding-top: 100px;
}

.bicycle__boxes {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include bp.mq(sm) {
    flex-direction: row;
    gap: 17.2px;
  }
}

.bicycle__box {
}

.bicycle__image {
  img {
    max-width: 100%;
  }
}

.bicycle__title {
  margin-top: 10px;
  color: #383e45;
  font-size: 16px;
  font-weight: 600;
  line-height: calc(24px / 16px);
}

.bicycle__text {
  margin-top: 10px;
  color: #383e45;
  font-size: 14.4px;
  font-weight: 300;
  line-height: calc(22px / 14.4px);
}

.footer {
  padding-block: 100px 10px;
  text-align: center;

  @include bp.mq(sm) {
    padding-block: 110px 10px;
  }
}

.footer__copyright {
  color: #383e45;
  font-size: 8px;
  font-weight: 300;
  line-height: calc(12px / 8px);
}
